body {
    background-image: url("/Users/jonathanpham/Documents/GitHub/Homework/unit-4-game/assets/images/beachwaves.jpg");
    background-repeat: repeat;
}

#screen {
    overflow: auto;
}

#screen div {
    float: left;
}

#title {
    width: 220px;
    padding: 15px;
    margin-bottom: 15px;
    color: whitesmoke;
    background-color: darkcyan;
    text-align: center;
}

#random-area {
    width: 200px;
    height: 100px;
    padding: 4px;
    font-size: 3vw;
    color: white;
    background-color: darkcyan;
    text-align: center;
}

#score-area {
    width: 210px;
    height: 100px;
    padding: 4px;
    color: ghostwhite;
    background-color: darkcyan;
    text-align: center;
}

#score-title {
    width: 210px;
    padding: 4px;
    margin-bottom: 10px;
    color: white;
    background-color: darkcyan;
    text-align: center;

}

.crystals-button {
    display: inline;
}

.crystal-img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-color: white;
}

#score-number {
    font-size: 3vw;
}

#win-area {
    height: 100px;
    padding: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: darkcyan;
}